@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root {
  --body-bg: #0f3f1f;
  --main-bg: #2f5f3f;
  --shadow: #1f4f2f;
  --badass: #bada55;
  --text-shadow: #b06;
  --yellow: #dada55;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC', Arial, Helvetica, sans-serif;
  background-color: var(--body-bg);
  color: var(--badass);
  min-width: 280px;
  min-height: 500px;
  height: 100vh;
  overflow: hidden;
}

#container {
  position: relative;
  background-color: var(--main-bg);
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow:  5px  5px 18px 12px var(--shadow),
              -5px  5px 18px 12px var(--shadow),
              -5px -5px 18px 12px var(--shadow),
               5px -5px 18px 12px var(--shadow);
  perspective: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

#playground {
  width: 100%;
  flex: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#machine-section,
#player-section {
  width: 100%;
  flex: 0;
  display: flex;
  flex-flow: column nowrap;
}

#machine-section {
  justify-content: flex-end;
}

#player-section {
  justify-content: flex-start;
}

#machine-hands,
#player-hands {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#machine-hands {
  margin-top: 1rem;
}

#player-hands {
  margin-bottom: 1rem;
}

#machine-hands div,
#player-hands button {
  background-color: var(--badass);
  font-size: 3rem;
  border-radius: 50%;
  padding: 7px;
}

#machine-hands div {
  border: 2px groove var(--main-bg);
  transform: rotate(180deg);
  box-shadow: -6px -5px 8px 4px var(--shadow);
  text-shadow: -2px -2px 2px var(--shadow);
}

#player-hands button {
  border: 2px ridge var(--main-bg);
  box-shadow: 6px 5px 8px 4px var(--shadow);
  text-shadow: 2px 2px 2px var(--shadow);
  animation: fancy-shadow 300ms cubic-bezier(0.6, 0.04, 0.98, 0.355) infinite;
  animation-play-state: running;
}

#player-hands button.stop {
  animation-play-state: paused;
  filter: blur(2px);
  filter:sepia(85%);
}

#player-hands button:hover {
  cursor: pointer;
}

#score-board {
  height: 100%;
  flex: 1 1 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

h1,
h2,
h4,
#machine-score,
#player-score {
  text-align: center;
  text-shadow: 3px 2px 5px var(--text-shadow);
}

h1 {
  font-size: 1.95rem;
  line-height: 1.3rem;
}

h4 {
  line-height: 1.3rem;
}

h2 {
  font-size: 1.55rem;
}

#machine-score p,
#player-score p {
  font-size: 5rem;
  font-weight: bold;
}

header {
  flex: 1 1 80%;
}

#credits {
  position: absolute;
  width: 80px;
  top: 140px;
  right: 0;
  transform-origin: 100% 18px;
  transform: rotate(-90deg);
  border: 1px solid transparent;
  border-radius: 8px 8px 0 0;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items:flex-start;
}

#credits.display-links {
  transform: rotate(0deg);
  border: 1px solid var(--shadow);
}

#index-tab {
  width: 100%;
  border: 1px solid var(--shadow);
  border-radius: 8px 8px 0 0;
  margin-bottom: 1px;
  background-color: var(--yellow);
  color: var(--body-bg);
  font-weight: bold;
  text-align: center;
  transition: border 300ms;
  transition-timing-function:cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#index-tab.display-links {
  border: none;
}

#index-tab:hover {
  cursor: pointer;
}

#credits p {
  font-size: 0.8rem;
}

a:link {
  display: inline-block;
  width: 100%;
  margin-bottom: 1px;
  padding: 1px 0;
  background-color: var(--badass);
  color: var(--body-bg);
  font-size: 0.8rem;
  text-decoration-line: none;
  text-align: center;
  opacity: 0.0;
  transition: opacity 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#credits a.display-links {
  opacity: 0.9;
}

a:visited {
  color: var(--body-bg);
}

a:hover {
  font-weight: bold;
  background-color: var(--yellow);
}

#message {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
  height: 20%;
  background-color: #082f0fdf;
  color: #b06;
  text-shadow: 3px 2px 4px var(--badass);
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  transform-origin: 50%;
  transform: translateZ(300px);
  opacity: 0.0;
  transition: all 600ms ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#message.show {
  transform: translateZ(0px);
  opacity: 1.0;
}

@keyframes fancy-shadow {
  0% { box-shadow: 0px 3px 8px hsl(0, 50%, 40%); }
  12% { box-shadow: 3px 3px 8px hsl(45, 50%, 40%); }
  25% { box-shadow: 3px 0px 8px hsl(90, 50%, 40%); }
  37% { box-shadow: 3px -3px 8px hsl(135, 50%, 40%); }
  50% { box-shadow: 0px -3px 8px hsl(180, 50%, 40%); }
  62% { box-shadow: -3px -3px 8px hsl(225, 50%, 40%); }
  75% { box-shadow: -3px 0px 8px hsl(270, 50%, 40%); }
  87% { box-shadow: -3px 3px 8px hsl(315, 50%, 40%); }
  100% { box-shadow: 0px 3px 8px hsl(360, 50%, 40%); }
}

@media only screen and (min-height: 680px) {
  #container {
    justify-content: space-evenly;
  }
  #credits {
    top: 220px;
  }
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 20px;
  }
  #credits {
    width: 90px;
    top: 240px;
    transform-origin: 100% 22px;
  }
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 24px;
  }
  #credits {
    width: 100px;
    transform-origin: 100% 26px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 28px;
  }
  #credits {
    width: 120px;
    top: 260px;
    transform-origin: 100% 30px;
  }
  #playground {
    justify-content: space-around;
  }
  #machine-hands,
  #player-hands {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 800px) {
  #credits {
    width: 130px;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 1.6rem;
  }
  h2 {
    font-size: 2.0rem;
  }
  h4 {
    line-height: 1.6rem;
  }
}

@media only screen and (min-width: 1040px) {
  h1 {
    font-size: 3.0rem;
    line-height: 1.8rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h4 {
    line-height: 1.8rem;
  }
  #machine-hands div,
  #player-hands button {
    font-size: 4rem;
  }
}
